.uk-navbar-flip {
	text-transform: uppercase;
	
}

.tm-section-color-1 {
	background: transparent;
}

.tm-navbar {
	background: #ec4957;
}

.tm-navbar .uk-navbar-nav > li > a {
	color: #eee;
}

.tm-navbar .uk-navbar-nav > li > a:hover {
	color: #fff;
	text-decoration: underline;
}

.tm-navbar .uk-navbar-nav > li > a:active {
	color: #ccc;
	font-weight: bold;
}

.tm-section-color-2, .tm-icon  {
	background: #ec4957;
}
.tm-icon:after {
	border: 10px solid #ec4957;
	border-right-color: transparent;
	border-left-color: transparent;
}
.tm-panel-link:after {
	background: #ec4957;
}

.tm-button-download {
	color: #ec4957 !important;
}
.tm-button-download:hover {
	background: #ec4957;
}