.download, .download a{
	background: #fff;
	color: #ec4957!important;
}
.uk-cover-background{
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cg-about{
	font-size: 24px;
	font-weight: 500;
	line-height: 50px;
	color: #000;
	padding: 70px 150px;
	text-align: center;
}
	
.foot-fix{
	/*position: fixed;*/
	bottom: 0;
	width: 100%;
}

.user-image{
	width: 100px;
	height: 100px;
	text-align: center;
	border-radius: 100px;
	border: 1px solid #fff;
	margin-left: auto;
	margin-right: auto;
}

.mail-img{
	padding-top: 7px;
	border: 1px solid white;
	border-radius: 50%;
	padding: 7px;
}

.fb-img{
	border-radius: 50%;
}	

.top_a{
	padding: 0px;
	max-width: 100%;
	background: #fff;
}

.tm-section-color-2 a{
	text-decoration: none;
}

.uk-slidenav-next:before, .uk-slidenav-previous:before{
	text-shadow: 3px 0px #fff;
}
.next_icon, .next_icon:before{
	background: url('../img/next.png');
	background-size: contain;
	margin-right: 40px;
	content: none;
}

.pre_icon, .pre_icon:before{
	background: url('../img/pre.png');
	background-size: contain;
	margin-left: 40px;
	content: none;
}

.nextb_icon, .nextb_icon:before{
	background: url('../img/nextb.png');
	background-size: contain;
	margin-right: 40px;
	content: none;
}

.preb_icon, .preb_icon:before{
	background: url('../img/preb.png');
	background-size: contain;
	margin-left: 40px;
	content: none;
}


.txt_b{
	color: #808080;
	font-size: 17px;
	padding-top: 10px;
}
.card_b{
	
	border-top: none;
	/* height: 30px; */
	padding: 10px;
	background: #fff;
	margin-top: -5px;

}

.tagbtn{
	cursor: default;
	margin-bottom: 5px;
	background: #fff;
	color: #8b8b8b;
	border: 1px solid #dfe3e7;
	border-radius: 20px;
	padding: 0px 10px;
	text-align: center;
	margin-right: 5px;
	font-size: 10px;
	display: inline-block;
	text-transform: uppercase;
}

.bookticky{
	float: right;
	transition: all .5s ease;
	padding: 10px 15px;
	background: rgba(204, 51, 51, .8);
	color: #fff;
	font-size: 14px;
	border-radius: 1px;
	position: absolute;
	right: 10px;
	bottom: 25px;
}

.txt_anim_a{
	color: #000!important;
	font-weight: 400;
	font-size: 16px;
}
.txt_anim_b{
	color: #838383;
}
.artist_txt {
	font-size: 20px;
	padding-top: 20px;
	color: #838383;
}
.hgt_crd{
	height: 280px;
	border: 1px solid #e5e5e5;
}
.icon-plus{
	background: url('http://iahp.org/wp-content/uploads/2014/04/1394242631_Plus.png')!important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	width: 2px !important;
	height: 2px !important;
	top: calc(22% - 35px);
	left: calc(51% - 35px);
	border: none;
}
.tm-panel-link:after{
	background: none;
}

/*
ul.uk-slideshow.uk-overlay-active {
	height: 500px!important;
}
.slider {
	height: 500px;
}
*/
/* .slider ul {
	height: 600px!important;
} */
/*
.bannertextbox {
	height: 500px!important;
}
*/

.tm-section {
	padding: 40px 0;
}
/*.tm-section-color-white {
	background: #EBEBEB;
}*/
.tm-footer {
	padding: 50px 0;
}
.nextbullate {
	/* top: 550px; */
	height: 30px!important;
}
.venuecontainer {
	padding: 0;
	/* width: 1400px!important; */
}

.eventcontainer {
	padding: 40px;
	/* width: 1250px!important; */
}


/* Event Detail */

.evetsdetailbox {
	width: 60%!important;
	border: 1px #dbdbdb solid;
	background: #fff;
	text-align: left;
	padding: 0;
}
.booktiktbox {
	width: 40%!important;
	background: #74559d;
	padding: 0;
}

.eventnmbox {
	/* height: 25px; */
	padding: 8px 0 8px 20px;
	border-bottom: 1px #f4f4f4 solid;
}
.eventnmhed {
	color: #0b0b0b;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 0 0 25px!important;
}
.eventnm {
	color: #323232;
	font-size: 16px;
	padding: 10px 0 0 25px!important;
}
.artistimg {
    height: 100px;
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px #b9b9b9 solid;
	margin-left: 100px;
}
.artistimg img {
	display: block;
	height: 100px;
	width: 100px;
}
.uk-dotnav>*>*{
	width: 10px;
	height: 10px;
}

.uk-slidenav-position .uk-slidenav-previous{
	left: -40px;
	top:40%;
}
.uk-slidenav-position .uk-slidenav-next{
	right: -40px;
	top:40%;
}
.uk-badge{
	padding: 0 15px;
	font-size: 15px;
	line-height: 20px;
}
.contain{
	max-width: 100%!important;
	padding: 0px!important;
}
.map{
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:250px;
	position:relative;
	background-position: 50% 50%;
}
.text_left{
	text-align: left;
	font-weight: 500;
}
.bgimg{
	background-image: url('../img/bgimg.jpg');
	width: 100px;
	height: 90px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.uk-close{
	background-image: url('../img/cross-circle.png');
	background-size: cover;
	content: none;
	width: 25px;
	height: 25px;
}

.uk-close:after{
	content: none;
}

.dead_txt{
	text-align: left!important;
}
.dead_top{
	margin-top: 380px;
}
.locimg{
	width: 20px;
	height: 20px;
}
.clockimg{
	width: 14px;
	height: 14px;
}
.locimg1{
	width: 16px;
	height: 16px;
}

.distimg{
	width: 20px;	
	height: 20px;
}

.gridy{
	padding-left: 0px;
}
.brdr_red{
	border-bottom: 2px #FF565B solid;
}
.badgy{
	right: 0px;
        top: 0px;
        z-index:-1;
	content: url('../img/pizza.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 60px;
	height: 60px;
	background: none;
	border: none;
	
}
.badgy1{
	right: -16px;
	width: 50px;
	height: 50px;
	background: none;
	border: none;

}
.badgy_left{
	left: 0px;
}
.center{
	margin: 0px;
}
.pad_card{
	padding-top: 10px;
	width:100%;
	font-size: 14px;
	color: rgba(61, 61, 61, 0.81);
}

.evntnmhed {
	margin-bottom: 25px;
	color: #000!important;
	font-size: 26px;
}
.evntdate {
	font-size: 16px;
	color: #333;
	font-weight: 300;
	margin: 5px 0 15px 0;
}

.eventdetailrow {
	margin: 0 auto;
	padding: 0 50px;
}
.evntdetaicol {
	 width: 20%!important;
	 background: #fff; 
	 margin-right: 50px; 
	margin: 0 auto;
	 padding: 0!important;
	 height: 220px;
	box-shadow: 1px 1px 4px #686868;
	padding-left: 0px;
}

.evtnm {
	width: 100%;
	height: 45px;
	background: #DA555C;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding-top: 12px;
	box-sizing: border-box;
}
.evtnm:hover a{
	text-decoration: none!important;
}
.evticon {
	/* width: 200px; */
	height: 180px;
	/* margin: 20px auto; */
	background: #fff;
	overflow: hidden;
	/* padding:7px 3px 4px 3px; */
	box-sizing: border-box;
}
.evticon img {
	width: 100%;
	height: 180px;
}
.evtdjnm {
	font-size: 17px;
	color: #fff;
	margin-top: -30px;
}
.uk-link:hover, a:hover {
	text-decoration: none;
}

.ticketrow {
	padding: 0 75px;
}
.evttickethed {
	margin-bottom: 20px;
}
.contain_center{
	background:#fff;
/* 	height:40px; */
}

.uk-tab{
	font-weight: bold;
}

#calendar {
	max-width: 600px;
	margin-left: 10%;
	border: 1px #ddd solid;
	padding: 10px;
	border-radius: 5px;
}

.daty{
	padding-top: 0px;
	font-size:14px;
	color:rgba(61, 61, 61, 0.81);
}

.ullist{
	margin:0 auto;
	background: #fff;
	padding: 10px;
	padding-bottom: 20px;
	width: 90%;
}

.tiky1{
	font-size: 20px;
	color: #E84655;
	vertical-align: middle;
}
.tikygry{
	font-size: 18px;
	color: #adadad;
}

.tiky2{
	font-size: 14px;
	color: #000;
}

#up {
  border: none;
  background: none;
}
#down{
  border: none;
  background: none;
}
.downy, .upy{
	margin-top: -7px;
	z-index: 1000;
	position: relative;
}
.counter button:hover{
  cursor: pointer; 
}

.counter button{
  outline:none;
}

.count{
  font-size:30px;
  margin:20px;
  color: #DE3D4D;
}

.counter{
  text-align:center;
}

.btny, .btny:hover{
	padding: 5px 60px;
	background: #FF565B;
	border: none;
	border-radius:0px;
	margin-top: 25px;
}

.ticketco{
/* 	border: 1px #d2d2d2 solid; */
	margin: 53px;
/* 	border-radius: 5px; */
	background: rgba(235, 235, 235, 1);
}
.ticketco1{
/* 	border: 1px #d2d2d2 solid; */
	padding: 20px;
	margin: 53px;
/* 	margin-top: 20px; */
/* 	border-radius: 5px; */
	background: rgba(235, 235, 235, 1);
}

.wspace{
	word-spacing: 5px;
}

.charge{
	color: #FF565B;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.spacein{
	margin-top:-50px;
}


.totxt{
	padding-top:10px;	
}

.vetop{
	margin-top:-50px;
}

.open{
	font-size:18px;
	font-weight:bold;
	padding: 20px;
	line-height: 50px;
}

.knowntxt{
	font-size:18px;
	padding:10px;
	line-height: 50px;
}

.maddy{
/* 	margin-top: -10px; */
	font-weight:400;
	background: transparent!important;
}
.uk-icon-caret-down{
	background-image:url('../img/arrow_down.png');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

.acti{
	border-bottom: 2px solid #fff!important;
	font-weight: bold!important;
	color: #fff!important;
}

.tm-navbar .uk-navbar-nav > li > a{
	border-radius: 0px !important;
}

.boktop, .boktop:hover{
      float:right!important;
      padding:10px 50px!important;
      font-size:1.3rem!important;
      border:none;
      background:#FF565B;
      color:#fff;
      border-radius:0px;
      font-weight:300;
}

.art{
font-size:18px;
text-align:left;
/* background:#fff; */
background: #fff;
padding: 20px;
margin: 20px 70px;
text-transform:uppercase;
}

/*.bgico{
background-image: url('../images/clubg.jpg');
background-size: contain;
background-repeat: repeat;
}*/
.bgico{
/* 	background: #f7f7f7; */
background: rgba(229, 229, 229, 0.71);
}
body.tm-background{
background-image:url('../images/clubg.jpg');
/* background: #fff; */
background-size:1500px;
background-repeat:repeat;
}

div.tm-footer{
background:#000;
}

 .uk-icon-caret-down:before{
 content:none;
 }

.femin{
	font-size: 22px;
	font-weight: 400;
}

.vengrid{
	margin: 50px;
	margin-top: -50px;
}

.uk-navbar-toggle{
	content: url('../img/menu.png');
	width:65px;
	margin-left: -30px;
}

.uk-offcanvas-bar{
	font-size: 18px;
	padding: 10px;
}

.payiy{
	border: 1px solid #FF565B;
	padding: 10px;
	background: #fbfbfb;	
}

.venuegrid{
margin:220px;
}

.eventgrid{
	margin: 220px;
}




 	/* Start Loader */

 	/*----------------------------------------
    Pre Loader
------------------------------------------*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF565B;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url(../images/user-bg-2.jpg) no-repeat center center;
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF565B;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF565B;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}

.progress {
  background-color: rgba(255, 64, 129, 0.22);
}

 	/* End Loader */
 	
 	
 	
/*  	icon part */

i.uk-icon-location{
	content: url('../img/loc.png');
	width: 16px;
	height:16px;	
}

i.uk-icon-calendar{
	content: url('../img/calendar.png');
	width: 16px;
	height: 16px;	
}

.ban{
	height: 500px;
}

.maxban{
	max-height: 100%;
	max-width: 100%;
}

.bansize{
	width: 100%;
	height: 500px;
}
.curs{
	cursor: default;
}

.card-width{
	width: 370px;
}

.margin-auto{
	margin: 0px auto;
}

.width100{
	width: 100%;
}

.margin40{
	margin: 40px;
}

.padding0{
	padding: 0px;
}

.txt_left{
	text-align: left;
}

.sticky-box{
	background: #fff!important;
	border: 0px;
}

.uk-slidenav-contrast, .uk-slidenav-contrast:active{
	color: rgba(43, 43, 43, 0.5)!important;
}

.modal-pop{
	padding-left: 0px;
}

.down-float{
	float: right;
}

.up-float{
	float: left;
}

.event-detail-text{
	padding-top: 118px!important;
}

.padoffr{
	padding: 20px;
}

.live1{
	color: #000;
	margin-top: 50px;
	font-size: 25px;
	margin-left: 400px; 
}

.past1{
	color: #000;
	margin-top: 50px;
	font-size: 25px;
	margin-right: 400px;
}



.book-pill>.uk-active>*{
	background: transparent;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid #ec4957;
	color: #000;
	border-radius: 0px;
}

.book-pill>*>:focus, .book-pill>*>:hover{
	box-shadow: none;
	background: transparent;
	border-radius: 0px;
	color: #ec4957;
}

.history-brdr{
	border: 1px solid #000;
	margin: 0 20px;
}

div.uk-width-1-2.history-1{
	padding-left: 0px;
	padding: 10px;
}

div.uk-width-1-2.history-2{
	padding-left: 0px;
}

.history-pill{
	padding: 50px 100px;
}

.history-detail{
	color: #000;
	text-align: justify;
}

.history-detail1{
	color: #000;
	text-align: justify;
}

.grid-history{
	margin: 0 150px;
	border: 1px solid #e0e0e0;
padding: 20px 0;
}

.book-count{
	font-size: 18px;
}

.book-price{
	font-size: 20px;
	text-align: justify;
	color: #ec4957;
	
}

.dress-slide{
	padding: 0px;
}