@media (min-width: 1220px){

}


@media only screen and (max-width: 480px) {
	
	
	
li.inrespo.uk-active{
	width:100%;
	padding-top:20px;
}
.event-detail-text{
	margin-top: 230px;
	margin-bottom: 10px;	
}

.event-detail-slider{
	margin-top: -555px;
}

.ban, .blur, .bansize, .slider{
	height: 300px!important;
}
.eventcontainer{
	padding: 13px;	
}
.card-width{
	width: 100%;
}
.responsive-side{
	padding: 0px!important;
}

.btn-hide{
	display: none;
}

.txt_left{
	text-align: center;
}

.evntnmhed{
	font-size: 18px;
}

.eventgrid{
	margin: 0px!important;
}

.dead_top{
	margin-top: 220px;
}

.slider-size{
	height: 249px;
}

.bansize{
	height: 249px;
}

.dead_top{
	margin-top: 160px;
}

.h2-dead, .h3-dead{
	padding-left: 10px!important;
}

.tm-overlay-uniq .tm-panel-caption{
	position: relative!important;
	transform: none!important;
	opacity: 1!important;
	transition: none!important;
	-webkit-transition: inherit!important;
	padding: 0px!important;	
}

.cg-about{
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	line-height: 25px;
	color: #000;
	padding: 20px;
	margin-bottom: 40px;
}
.live1{
	color: #000;
	margin-top: 20px;
	font-size: 20px;
	margin-left: 0px; 
}

.past1{
	color: #000;
	margin-top: 20px;
	font-size: 20px;
	margin-right: 0px;
}

.history-pill{
	padding: 0;
}

.grid-history{
	margin: 10px;
}

.history-resp{
	padding-left: 0px;
	margin-top: -20px;
}

.history-resp1{
	padding-top: 10px;
}


}

@media (min-width: 1420px) {
.venuegrid{
margin: 250px;margin-top: -50px;
}

}

@media (max-width: 1600px) {


.eventgrid{
margin: 100px;margin-top: -50px;
}
}

/*
@media (min-width: 1420px) {
.eventgrid{
margin: 50px;margin-top: -50px;
}
}
*/

@media (max-width: 1200px) {
	.ban{
		height: 500px;
	}
	.vengrid{
		margin: 10px;
		margin-top: -50px;
	}
	.eventgrid{
		margin: 10px;
		margin-top: -50px;
	}
}

@media (max-width: 1400px) {
	
	.vengrid{
		margin: 30px;
		margin-top: -50px;
	}
	.eventgrid{
		margin: 30px;
		margin-top: -50px;
	}
}

@media (max-width: 1020px) {
	
	.vengrid{
		margin: 30px;
		margin-top: -50px;
	}
	.eventgrid{
		margin: 30px;
		margin-top: -50px;
	}
}

@media (max-width: 480px) {
	
	.art{
		margin: -14px;
		font-size: 14px;
		margin-top: 0px;
	}

	.tm-margin-large-bottom{
		margin-bottom: 10px;
	}

	.btny, .btny:hover{
		padding: 5px 20px;
		float: none;
	}
	.arti{
		margin-left: 0px!important;
	}
	.wspace{
		margin-left: 0px!important;
	}
	.resti{
		width: 100%!important;
		margin-left: 0px!important;
		padding-top:20px!important; 
		
	}
	.femin{
		width: 100%!important;
		padding-top: 20px!important;
	}
	.reschar{
		width: 100%;
		padding-top: 20px;
	}
	.ticketco, .ticketco1{
		margin: 10px;
	}
	.resbor{
		border-bottom: 1px solid #ddd;
		margin-top: -20px;
		padding-bottom: 20px;
	}
	.reshead{
		width: 100%;
		text-align: center!important;
		padding-top: 20px;
	}
	.respico{
		width: 25px!important;
		height: 25px!important;
	}
	.respico1{
		width: 10px!important;
		height: 10px!important;
	}
	.respdes{
		margin-left: -10px;
	}
	
	.vengrid{
		margin-top: 0px;
	}
	div.uk-button-dropdown{
		width: 32%!important;
	}
	.maddy{
		padding-top: 12px;
		padding-left: 0px;
		font-size: 12px;
	}
	.maddy-icon{
		position: absolute;
		bottom: 13px;
	}
	.uk-tab{
		margin: 0px!important;
		margin-top: 50px!important;
	}
	.respdrop{
/* 		top:-120px; */
		left: -30px;
		right: -45px;
	}
	.eventgrid{
		margin-top: 70px!important;
	}
	.spacein{
		margin-top: 0px!important;
	}
	.txt_anim_a{
		font-size: 18px;
		text-align: center;
	}
}

@media (max-width: 320px) {
	
	.history-resp1{
		padding-right: 20px;
	}
	.wspace{
		margin-left: 0px!important;
	}
}
