
.tabrow {
	padding: 0 100px;
}


/*---------- vertical tab nav */
#vertical_tab_nav{
	display: block;
	width: 100%;
}
#vertical_tab_nav ul{
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	width: 30%;
  border-radius: 4px 0 0 4px;
  background: #555;
}
#vertical_tab_nav li{
	border-bottom: 1px solid #fff;
  	/* margin-bottom: 1px; */
	text-align: left;
	padding: 0px;
}
#vertical_tab_nav li:last-child{
	margin-bottom: 0px;
  border-bottom: 0px;
}
#vertical_tab_nav li a{
	display: block;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	background: #73C2F4;
}
#vertical_tab_nav li a.selected{
	background: #ec4957;
	color: #000;
}
#vertical_tab_nav div{
	display: block;
	float: left;
	background: #fff;
	background: #fff;
	width:64%;
	padding: 5px 10px;
}
#vertical_tab_nav div article{
	display: none;
	margin: 0px;
	color: #555;

}
#vertical_tab_nav div article p{
	margin: 0px 0px 20px 0px;
}



.whitsec {
	padding-top: 0!important;
	padding-bottom: 0px;
}
.tabbox {
	padding: 0!important;
}
.nbmetrorow {
	border-bottom: 1px #d5d5d5 solid;
	background: #fcfcfc!important;
	width: 100%!important;
	text-align: left;
	padding-top: 15px!important;
}
.nbmetroico {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: left;
	background: #fff9cb;
	
}
.nbmetrocont {
	width: 70%;
	float: left;
	background: #77ffe2;
	height: 30px;
}
.metostnm {
	font-size: 22px;
	font-weight: 700;
	margin-left: 20px;
}
.blueline {
	font-size: 16px;
	font-weight: bold;
	color: #4575E1;
	margin-left: 20px;
}
.yellowline {
	font-size: 16px;
	font-weight: bold;
	color: #E1873C;
	margin-left: 20px;
}












