.uk-panel-box .tm-slideshow-uniq-media .uk-slideshow li:before {
  background-color: #ffffff;
}
.uk-panel-box-primary .tm-slideshow-uniq-media .uk-slideshow li:before {
  background-color: #2a2a2a;
}
.uk-panel-box-secondary .tm-slideshow-uniq-media .uk-slideshow li:before {
  background-color: #fafafa;
}
.tm-button-uniq .uk-slideshow li:before {
  content: '';
  position: absolute;
  top: 90%;
  left: -100%;
  width: 300%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
}
.tm-button-uniq .tm-icon-arrow {
  top: calc(90% - 35px);
  left: 50%;
  margin-left: -35px;
}
@media (min-width: 768px) {
  .tm-slideshow-uniq .uk-slideshow li:before {
    left: 80%;
    top: -25%;
    width: 100%;
    height: 150%;
    -webkit-transition: left .2s, right .2s;
    transition: left .2s, right .2s;
  }
  .tm-button-uniq:hover .uk-slideshow li:before {
    left: 70%;
  }
  .tm-button-uniq .tm-icon-arrow {
    top: 50%;
    left: 80%;
    opacity: 0;
    margin-top: -35px;
    margin-left: 0;
    -webkit-transition: all .2s, left .2s;
    transition: all .2s, left .2s;
  }
  .tm-button-uniq:hover .tm-icon-arrow {
    opacity: 1;
    left: calc(70% - 35px);
  }
  .tm-button-uniq .uk-position-cover {
    -webkit-transition: background-position 0.12s;
    transition: background-position 0.12s;
  }
  .tm-button-uniq:hover .uk-position-cover {
    background-position: -20px 0;
  }
  .tm-slideshow-uniq [class*=uk-flex-order-last] .uk-slideshow li:before {
    left: -80%;
  }
  .tm-button-uniq [class*=uk-flex-order-last] .tm-icon-arrow {
    left: 0%;
  }
  .tm-button-uniq:hover [class*=uk-flex-order-last] .uk-slideshow li:before {
    left: -70%;
  }
  .tm-button-uniq:hover [class*=uk-flex-order-last] .tm-icon-arrow {
    left: calc(30% - 35px);
  }
  .tm-button-uniq:hover [class*=uk-flex-order-last] .uk-position-cover {
    background-position: 20px 0;
  }
}
.tm-overlay-uniq {
  padding-bottom: 70px;
}
.tm-overlay-uniq .uk-overlay-panel {
  background: #ffffff;
  opacity: 1 !important;
}
.tm-overlay-uniq .uk-overlay-panel:after {
  content: "";
  position: absolute;
  top: -35%;
  left: -100%;
  display: block;
  width: 300%;
  height: 500%;
  background: none;
  border-radius: 0;
  transform: translateY(15%);
  -webkit-transition: transform 0.2s, opacity 0.2s, border-radius 0.2s;
  transition: transform 0.2s, opacity 0.2s, border-radius 0.2s;
  z-index: -1;
}
.tm-overlay-uniq:hover .uk-overlay-panel {
  height: 45%;
  background: none;
  z-index: 1;
}
.tm-overlay-uniq:hover .uk-overlay-panel:after {
  background: #ffffff;
  border-radius: 50%;
  transform: translateY(0);
}
.tm-overlay-uniq .tm-panel-caption {
  position: absolute;
  left: 0;
  padding: 0 30px;
  transform: translate(0, 50px);
  opacity: 0;
  -webkit-transition: transform .2s;
  transition: transform .2s;
}
.tm-overlay-uniq:hover .tm-panel-link {
  display: block;
}
.tm-overlay-uniq:hover .tm-panel-caption {
  transform: translate(0, 0);
  opacity: 1;
}
.tm-overlay-uniq .tm-overlay-panel-title {
  -webkit-transition: transform .2s;
  transition: transform .2s;
  transform: translate(0, 0);
}
.tm-overlay-uniq:hover .tm-overlay-panel-title {
  transform: translate(0, -20px);
}
.tm-overlay-uniq .tm-panel-link {
  opacity: 0;
  transform: translateY(50px);
  -webkit-transition: transform .2s, opacity .1s;
  transition: transform .2s, opacity .1s;
  z-index: 1;
}
.tm-overlay-uniq:hover .tm-panel-link {
  transform: translateY(0);
  opacity: 1;
}
.tm-panel-link .tm-icon-plus {
  top: calc(25% - 35px);
  left: calc(50% - 35px);
}